  {% if site.sidepanel_news %}
  <!-- NEWS WIDGET -->
  <div class="news_widget">
  <h4>Noticias de la comunidad</h4>
    {% include news-widget.html %}
  </div>
  <!-- END OF NEWS WIDGET -->
  {% endif %}
  <!-- END OF SIDEPANEL -->
